body{
    font-family: "Montserrat";
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}
p {
    text-align: left;
}
/*******************************************************************/
/*Heading*/
.background-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.big-heading{
    text-align: center;
}
.colored-section{
    background-color: seagreen;
    color: white;
}
.white-section{
    background-color: #fff;
}
.container-fluid{
    padding: 2% 9% 2%;
    text-align: center;
}
/*******************************************************************/
/*Body styling*/
#title .container-fluid{
    padding: 2% 9% 2%;
    text-align: left;
}
#aboutUs .container-fluid{
    padding: 2% 9% 2%;
    text-align: left;
}

/*feature*/
#features {
    position: relative;
}
#features .container-fluid{
    padding: 2% 9% 2%;
}
.feature-title{
    font-size: 2rem;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

.icon {
    color: #ffd57e;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #f0a500;
}

.col-lg-6 {
    padding-left: auto;
    padding-right: 0px;
    padding-bottom: 20px;
}

/*******************************************************************/
/*Coalition feature*/
#coalition .container-fluid{
    padding: 2% 9% 2%;
}
/*******************************************************************/
/*bxSlider*/
#bxSlider{
    text-align: center;
    background: #ffd57e;
}
.bx-wrapper {
    margin-bottom: 20px;
    text-align: center;
    width: 540px;
    margin: 0 auto;
    padding: 20px;
}
#id_pager {
    text-align: center;
    font-size: 90%;
}
/*******************************************************************/
/*Event page*/
#Events .container-fluid {
    padding: 2% 9% 2%;
}
/*******************************************************************/
/*Our team page*/
#ourTeam .container-fluid {
    padding: 2% 9% 2%;
}
/* accordion */
#accordion-page {
    padding: 2% 9% 2%;
}
#accordion-page h2{
  text-align: center;
}

/*******************************************************************/
#slide-bootstrap h2{
  text-align: center;
  margin:0;
  color: black;
}
#slide-bootstrap{
  background-color: #ffd57e;
}
/*******************************************************************/
/*Form styling*/
#form .container-fluid{
    padding: 2% 9% 2%;
    text-align: center;
}
#form{
	margin: auto;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    justify-content: center;
    border:1px solid gold;
    display: inline-block;
    padding: 20px;
/*    text-align: center;*/
/*    width: 540px;*/
/*    margin: 0 auto;*/

}
input[type=text], input[type=password], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    max-width: 600px;
    float:clear;
    border-radius: 4px;
    border: solid 1px seagreen;
}

input[type=submit] {
    background-color: seagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    max-width: 600px;
}
input[type=submit]:hover {
    color: #132A3A;
}
/*******************************************************************/
/* Navigarion Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Great Vibes";
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.nav-item {
    padding: 0 10px;
    text-align: right;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
/*******************************************************************/
/*footer*/
.social-icon{
    margin: 20px 10px;
    text-align: center;
    font-size: 0.33em;
}
#foot .container-fluid{
    padding: 2% 9% 2%;
    text-align: center;

}
footer{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 0.5;
    margin: 0;
}
